extends main-layout

block head
	-var title = "404 Not Found - Goan Convention 2014";
	-var bodyClass = "error404"
	-var description = "Oops! Looks like the page you were looking for cannot be found."

block content
	section.container
		h1 NOT FOUND
		.note Oops! Looks like the page you were looking for cannot be found.
		.note Use the links above to navigate the site.