extends main-layout

block head
	-var title = "Goan Convention 2014";
	-var bodyClass = "index"
	-var description = "The 2014 Goan Convention will bring Goans together from all over North America to celebrate culture and heritage. It will be on July 4-6, 2014 in Pittsburgh, PA"
	script (function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));
	script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(type='text/javascript', src='/javascripts/waypoints.min.js')
	script(type='text/javascript', src='/javascripts/index.js')

block content
	section.inner.main
		.event
			h3.eventTop The 12th biennial 
			h2.eventName Goan Convention
			h3.eventDetails
				.date July 4 - 6, 2014
				.location Pittsburgh, PA
			h4.eventInfo Bringing Goans together from all over North America to celebrate culture and heritage
			a.register-button 
				i.fa.fa-times-circle
				| Registration Closed
			.countdown
				i.fa.fa-clock-o.fa-lg
				| #{daysleft} days left!
		.mask
	section.outer.where
		h1 VENUE
		a(href="/venue")
			.hotel Sheraton Pittsburgh Airport Hotel
			| 1160 Thorn Run Rd<br />
			| Coraopolis, PA 15108<br />
			| United States
	section.inner.pic.pittsburgh-title.parallax.autoheight
		h1 ABOUT PITTSBURGH
	section.inner.pic.pittsburgh-skyline
		a.caption.left.fa.fa-question-circle(href="http://commons.wikimedia.org/wiki/File:PittsburghSkyline_with_WarholBridge.jpg",target="_blank",title="Click to go to the source of this image.",tabindex="-1")
		.bigbox.right.attach-bottom
			.description <strong>Pittsburgh</strong> is the second largest city in the state of Pennsylvania.
	section.inner.pic.pittsburgh-bridges
		.bigbox.right.attach-top
			.description It is known as the &ldquo;City of Bridges&rdquo; for its 446 bridges. It is also known as the &ldquo;City of Steel&rdquo; for its strong steel industry &mdash; it has more than 300 steel related businesses.
		a.caption.right.fa.fa-question-circle(href="http://commons.wikimedia.org/wiki/File:Pittsburgh,_Pennsylvania_(8482554123).jpg",target="_blank",title="Click to go to the source of this image.",tabindex="-1")
		.bigbox.left.attach-bottom
			.description <strong>Pittsburgh</strong> has many vibrant neighborhoods. 
	section.inner.pic.pittsburgh-life
		.bigbox.left.attach-top
			.description From the upscale boutiques at the Shadyside neighborhood to the variety of restaurants at the historical Strip district, there is always something for every person.
	section.outer.didyouknow
		h1 DID YOU KNOW?
		p 
		a.reload.link(href="javascript:void()") Tell me something else
	section.inner.pic.goa-title.parallax.autoheight
		h1 ABOUT GOA
	section.inner.pic.goa-blurred.autoheight
		.bigbox.center
			.description <strong>Goa</strong> is India's smallest state and one of its most prominent tourist attractions. Its location is shown on the map below.
			img.worldmap(src="/images/worldmap.png",alt="Goa's Location on a World Map")
			.description Goa is home to beautiful beaches, various cultures, and very tasty fish.
	section.inner.pic.goa.shorter
	section.outer.misc
		.misccontainer
			a.notice
				i.fa.fa-facebook-square.fa-lg
				| Like us on Facebook!
				.facebook
					.fb-like(data-href="http://goansinamerica.com",data-width="310px",data-layout="standard",data-action="like",data-show-faces="false",data-share="true")
			a.notice.mapofgoans(href="http://mapofgoans.ankitsardesai.ca",target="_blank")
				i.fa.fa-map-marker.fa-lg
				| Map of Goans in North America
	#fb-root