extends main-layout

block head
	-var title = "Goan Convention 2014";
	-var page = "/";

block content
	section.main
		.event
			.eventTop The 12th biennial
			.eventName Goan Convention
			.eventDetails
				.date July 3 - 5, 2014
				.location Pittsburgh, PA
			.eventInfo Bringing Goans from all over North America <br />together to celebrate culture and heritage
			a.register.fa-exclamation-circle(href="register") Registration Coming Soon
		.mask
	section.where
		.head LOCATION
		a 
			.hotel To Be Determined
			| <br />
			| Pittsburgh, PA<br />
			| United States of America
	section.what
		.notice The rest of the site is coming soon. Stay tuned!