extends main-layout

block head
	-var title = "Goan Convention 2014";
	-var bodyClass = "index"
	script (function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));
	script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(type='text/javascript', src='/javascripts/index.js')

block content
	section.inner.main
		.event
			h3.eventTop The 12th biennial 
			h2.eventName Goan Convention
			h3.eventDetails
				.date July 4 - 6, 2014
				.location Pittsburgh, PA
			h4.eventInfo Bringing Goans together from all over North America to celebrate culture and heritage
			a.register-button(href="http://events.r20.constantcontact.com/register/event?llr=q6yb97pab&oeidk=a07e8z15x1377ca2e13",target="_blank") 
				i.fa.fa-check-circle
				| Register Now!
			.scrolldown
				i.fa.fa-angle-double-down.fa-lg
				| Scroll down for more
		.mask
	section.outer.where
		h1 HOTEL
		a(href="https://www.google.ca/maps/place/data=!3m1!4b1!4m2!3m1!1s0x0:0x981ab971eddf30d4",target="_blank")
			.hotel Sheraton Pittsburgh Airport Hotel
			| 1160 Thorn Run Rd<br />
			| Coraopolis, PA 15108<br />
			| United States
	section.inner.blurred.goa
		.bigbox
			h1 ABOUT GOA
			.description <strong>Goa</strong> is India's smallest state and one of its most prominent tourist attractions. Its location is shown on the map below.
			img.worldmap(src="/images/worldmap_@2X.png",alt="Goa's Location on a World Map")
			.description Goa is home to beautiful beaches, various cultures, and very tasty fish.
	section.inner.pic.goa
		.caption Palolem Beach, Goa
	section.outer.more
		i.fa.fa-exclamation-circle
		| More content coming soon, so keep checking back for updates!
	section.inner.misc
		.misccontainer
			a.notice
				i.fa.fa-facebook-square.fa-lg
				| Like us on Facebook!
				.facebook
					.fb-like(data-href="http://goansinamerica.com",data-width="310px",data-layout="standard",data-action="like",data-show-faces="false",data-share="true")
			a.notice.mapofgoans(href="http://mapofgoans.ankitsardesai.ca",target="_blank")
				i.fa.fa-map-marker.fa-lg
				| Map of Goans in North America
	#fb-root