extends main-layout

block head
	-var title = "Goan Convention 2014";
	-var bodyClass = "index"
	script (function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));
	script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(type='text/javascript', src='/javascripts/index.js')

block content
	#fb-root
	section.inner.main
		.event
			.eventTop The 12th biennial
			.eventName Goan Convention
			.eventDetails
				.date July 4 - 6, 2014
				.location Pittsburgh, PA
			.eventInfo Bringing Goans together from all over North America to celebrate culture and heritage
			a.register-button.fa-check-circle(href="/register") Register Now!
			a.scrolldown
				i.animateIcon.fa.fa-angle-double-down.fa-lg
				| Scroll down for more
		.mask
	section.outer.where
		.head HOTEL
		a(href="https://www.google.ca/maps/place/data=!3m1!4b1!4m2!3m1!1s0x0:0x981ab971eddf30d4",target="_blank")
			.hotel Sheraton Pittsburgh Airport Hotel
			| 1160 Thorn Run Rd<br />
			| Coraopolis, PA 15108<br />
			| United States of America
	section.inner.blurred.goa
		.bigbox
			.head ABOUT GOA
			.description <strong>Goa</strong> is India's smallest state and one of its most prominent tourist attractions. Its location is shown on the map below.
			.worldmap
			.description Goa is home to beautiful beaches, various cultures, and very tasty fish.
	section.inner.pic.goa
		.caption Palolem Beach, Goa
	section.outer.more
		i.animateIcon.fa.fa-exclamation-circle
		| More content coming soon, so keep checking back for updates!
	section.inner.misc
		.misccontainer
			a.notice
				i.fa.fa-facebook-square.fa-lg
				| Like us on Facebook!
				.facebook
					.fb-like(data-href="http://goansinamerica.com",data-width="310px",data-layout="standard",data-action="like",data-show-faces="false",data-share="true")
			a.notice.mapofgoans(href="http://mapofgoans.ankitsardesai.ca",target="_blank")
				i.fa.fa-map-marker.fa-lg
				| Map of Goans in North America