extends main-layout

block title
	title Goan Convention 2014

block content
	section.main
		.event
			.eventTop The 12th biennial
			.eventName Goan Convention
			.eventDetails
				.date July 3 - 5, 2014
				.location Pittsburgh, PA
			.eventInfo Bringing Goans from all over North America together to celebrate culture and heritage.
			a.register.fa-check-circle(href="register") Register Now!
	section.where