extends main-layout

block title
	title Goan Convention 2014

block content
	section.main
		.event
			.eventTop The 12th biennial
			.eventName Goan Convention
			.eventDetails
				.date July 3 - 5, 2014
				.location Pittsburgh, PA
			.eventInfo Bringing Goans from all over North America <br />together to celebrate culture and heritage
			a.register.fa-check-circle(href="register") Register Now!
		.mask
	section.where
		.head Location
		.address Marriott Hotel
		.address 5653 Dawlish Cres.
		.address Pittsburgh, PA, USA 90210