extends main-layout

block head
	-var title = "Goan Convention 2014";
	-var page = "/";

block content
	section.main
		.event
			.eventTop The 12th biennial
			.eventName Goan Convention
			.eventDetails
				.date July 3 - 5, 2014
				.location Pittsburgh, PA
			.eventInfo Bringing Goans together from all over North America to celebrate culture and heritage
			a.register.fa-exclamation-circle(href="register") Registration Coming Soon
		.mask
	section.where
		.head THE EXACT LOCATION
		a 
			.hotel To Be Determined
			| <br />
			| Pittsburgh, PA<br />
			| United States of America
	section.what
		.notice The rest of the site is coming soon. 
		.notice.smaller Meanwhile, like us on Facebook!