doctype html
html(lang="en")
	head
		meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		meta(name='description',content='The 2014 Goan Convention will bring Goans together from all over North America to celebrate culture and heritage. It will be on July 4-6, 2014 in Pittsburgh, PA')
		meta(property="fb:admins",content="649329307")
		meta(property="og:title",content="Goan Convention 2014")
		meta(property="og:site_name",content="Goan Convention 2014")
		meta(property="og:description",content="The 2014 Goan Convention will bring Goans together from all over North America to celebrate culture and heritage. It will be on July 4-6, 2014 in Pittsburgh, PA")
		meta(property="og:image",content="http://goansinamerica.com/images/goa.jpg")
		meta(property="og:type",content="website")
		meta(property="og:url",content="http://goansinamerica.com/")
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css?v=2')
		block head
			-var title = "";
			-var bodyClass = "";
		title=title
	body(class=bodyClass)
		header
			nav
				a.logo(href="/")
				.links
					a.fa-calendar(href="/schedule") Schedule
					a.fa-money(href="/sponsors") Sponsors
					a.fa-flag(href="/pastevents") Past Events
					a.fa-check-circle.register-menu(href="/register") Register
		block content
		footer
			.container
				a.right Presented by the <strong>2014 Goan Convention Committee</strong>
				a.left(href="http://ankitsardesai.ca/") Designed by <strong>Ankit Sardesai</strong>