doctype html
html(lang="en")
	head
		meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		meta(property="fb:admins",content="649329307")
		meta(property="og:title",content="Goan Convention 2014")
		meta(property="og:site_name",content="Goan Convention 2014")
		meta(property="og:description",content="The 2014 Goan Convention will bring Goans together from all over North America to celebrate culture and heritage. It will be on July 4-6, 2014 in Pittsburgh, PA")
		meta(property="og:image",content="http://goansinamerica.com/images/goa.jpg")
		meta(property="og:type",content="website")
		meta(property="og:url",content="http://goansinamerica.com/")
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css?v=14')
		script(type='text/javascript', src='/javascripts/modernizr.min.js')
		block head
			-var title = "";
			-var bodyClass = "";
			-var description = "";
		title=title
		meta(name='description',content=description)
	body(class=bodyClass)
		header
			nav
				a.logo(href="/")
					img(src="/images/logo.png",alt="Goan Convention 2014")
				ul.links
					li
						a(href="/schedule")
							i.fa.fa-calendar
							| Schedule
					li
						a(href="/sponsors")
							i.fa.fa-money
							| Sponsors
					li
						a(href="/venue")
							i.fa.fa-building-o
							| Venue
					li
						a(href="/team")
							i.fa.fa-star
							| Team
					li
						a(href="/pastevents")
							i.fa.fa-flag-o
							| Past Events
					li
						a.register-menu(href="/register")
							i.fa.fa-info-circle
							| Attendees
		block content
		footer
			ul.container
				li
					a.right(href="/team") Presented by the <strong>2014 Goan Convention Team</strong>
				li
					a.left(href="http://ankitsardesai.ca/") Designed by <strong>Ankit Sardesai</strong>