extends main-layout

block head
	-var title = "Conventions - Goan Convention 2014";
	-var bodyClass = "pastconventions"

block content
	section.container
		.head PAST CONVENTIONS
		a.convention(href="http://www.goanconvention2012.com/") 2012 Goan Convention
		a.convention(href="") 2010 Goan Convention
