extends main-layout

block head
	-var title = "Past Events - Goan Convention 2014";
	-var bodyClass = "pastevents"
	-var description = "Previous Goan Conventions were held in various cities throughout North America, such as Detroit, Chicago, and Toronto."

block content
	section.container
		h1 PAST EVENTS
		p Below are links to documents and websites pertaining to previous Goan Conventions.
		ul.conventions
			li
				.convention 2014 Convention 
					span.location  in Pittsburgh, PA
				.link
					i.fa.fa-book
					a(href="/files/2014souvenir.pdf",target="_blank") Souvenir
				.clear
			li
				.convention 2012 Convention 
					span.location  in Detroit, MI
				.link
					i.fa.fa-book
					a(href="/files/2012souvenir.pdf",target="_blank") Souvenir
				.separator
				.link
					i.fa.fa-globe
					a(href="http://www.goanconvention2012.com/",target="_blank") Website
				.clear
			li
				.convention 2010 Convention
					span.location  in Secaucus, NJ
				.link
					i.fa.fa-book
					a(href="/files/2010souvenir.pdf",target="_blank") Souvenir
				.separator
				.link
					i.fa.fa-globe
					a(href="http://khsitsolutions.com/khs/web/mehedi/goa/",target="_blank") Website
				.clear
			//-li
				.convention 2008 Convention
					span.location  in San Jose, CA
				.link
					i.fa.fa-book
					a(href="/files/2008souvenir.pdf",target="_blank") Souvenir
				.clear
			li
				.convention 2006 Convention
					span.location  in Chicago, IL
				.link
					i.fa.fa-book
					a(href="/files/2006souvenir.pdf",target="_blank") Souvenir
				.clear
			li
				.convention 2004 Convention
					span.location  in Toronto, ON
				.link
					i.fa.fa-book
					a(href="/files/2004souvenir.pdf",target="_blank") Souvenir
				.clear
			li
				.convention 2002 Convention
					span.location  in Houston, TX
				.link
					i.fa.fa-book
					a(href="/files/2002souvenir.pdf",target="_blank") Souvenir
				.clear
			li
				.convention 2000 Convention
					span.location  in Los Angeles, CA
				.link
					i.fa.fa-book
					a(href="/files/2000souvenir.pdf",target="_blank") Souvenir
				.clear
			li
				.convention 1998 Convention
					span.location  in Orlando, FL
				.link
					i.fa.fa-book
					a(href="/files/1998souvenir.pdf",target="_blank") Souvenir
				.clear
			li
				.convention 1996 Convention
					span.location  in New York, NY
				.link
					i.fa.fa-book
					a(href="/files/1996souvenir.pdf",target="_blank") Souvenir
				.clear
			li
				.convention 1994 Convention
					span.location  in Chicago, IL
				.link
					i.fa.fa-book
					a(href="/files/1994souvenir.pdf",target="_blank") Souvenir
				.clear
			li
				.convention 1993 Convention
					span.location  in Pittsburgh, PA
				.link
					i.fa.fa-book
					a(href="/files/1993souvenir.pdf",target="_blank") Souvenir
				.clear