extends main-layout

block head
	-var title = "Past Events - Goan Convention 2014";
	-var bodyClass = "pastevents"
	-var description = "Previous Goan Conventions were held in various cities throughout North America, such as Detroit, Chicago, and Toronto."

block content
	section.container
		h1 PAST EVENTS
		p Below are links to documents and websites pertaining to previous Goan Conventions.
		ul.conventions
			li
				.convention 2012 Convention 
					span.location  in Detroit, MI
				.link
					i.fa.fa-globe
					a(href="http://www.goanconvention2012.com/",target="_blank") Website
				.clear
			li
				.convention 2010 Convention
					span.location  in Secaucus, NJ
				.link
					i.fa.fa-globe
					a(href="http://khsitsolutions.com/khs/web/mehedi/goa/",target="_blank") Website
				.clear
			li
				.convention 2004 Convention
					span.location  in Toronto, ON
				.link
					i.fa.fa-file-text-o
					a(href="/files/2004convention.pdf",target="_blank") PDF
				.clear
			li
				.convention 1993 Convention
					span.location  in Pittsburgh, PA
				.link
					i.fa.fa-file-text-o
					a(href="/files/1993convention.pdf",target="_blank") PDF
				.clear