extends main-layout

block head
	-var title = "Past Events - Goan Convention 2014";
	-var bodyClass = "pastevents"
	-var description = "Previous Goan Conventions were held in various cities throughout North America, such as Detroit, Chicago, and Toronto."

block content
	section.container
		h1 PAST EVENTS
		a.convention(href="http://www.goanconvention2012.com/",target="_blank") 2012 Goan Convention
		a.convention(href="http://khsitsolutions.com/khs/web/mehedi/goa/",target="_blank") 2010 Goan Convention
		a.convention(href="/files/2004convention.pdf",target="_blank") 2004 Goan Convention
