extends main-layout

block head
	-var title = "Register - Goan Convention 2014";
	-var bodyClass = "register"
	script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(type='text/javascript', src='/javascripts/modernizr.min.js')
	script(type='text/javascript', src='/javascripts/register.js')


block content
	section.container
		.head REGISTRATION
		.white-block
			h1 
				i.fa.fa-info-circle
				| Early Bird Registration Prices
			table
				tbody
					tr
						td.left Adult Regular (age 23 and over)
						td.right US $172
					tr
						td.left Adult Student (age 18 to 22)
						td.right US $142
					tr
						td.left Child (age 6 to 17)
						td.right US $112
					tr
						td.left Child (age 5 and under)
						td.right Free
			.note Early bird prices available till March 31, 2014
		a.white-block.register-now(href="http://events.r20.constantcontact.com/register/event?llr=q6yb97pab&oeidk=a07e8z15x1377ca2e13",target="_blank") 
			i.fa.fa-check-circle
			| Official Registration Page
		.instructions Click on the button above to go to the official registration page of the 2014 Goan Convention. 