extends main-layout

block head
	-var title = "Schedule - Goan Convention 2014";
	-var bodyClass = "schedule"

block content
	section.container
		.head SCHEDULE
		em <strong>NOTE:</strong> The following schedule is a tentative schedule only &mdash; it is subject to change.

		table.schedule-table.mobile
			thead
				tr
					th(colspan="3") Thursday, Jul 4
			tbody
				tr
					td.schedule-time 7:00 AM
					td(colspan="2")
				tr
					td.schedule-time 2:00 PM
					td.schedule-event(colspan="2") Registration
				tr
					td.schedule-time 4:30 PM
					td(colspan="2")
				tr
					td.schedule-time 6:00 PM
					td.schedule-event(colspan="2") Opening Ceremonies <br /> Cocktail Hour
				tr
					td.schedule-time 7:00 PM
					td(colspan="2")
				tr
					td.schedule-time 7:30 PM
					td.schedule-event(rowspan="2") Entertainment Program and Dinner
					td
				tr
					td.schedule-time 10:00 PM
					td.schedule-event.youth(rowspan="2") Youth Adult Program
				tr
					td.schedule-time 11:30 PM
					td
				tr
					td.schedule-time 2:00 AM
					td(colspan="2")

		table.schedule-table.mobile
			thead
				tr
					th(colspan="3") Friday, Jul 4
			tbody
				tr
					td.schedule-time 7:00 AM
					td.schedule-event(rowspan="3") Breakfast
					td
				tr
					td.schedule-time 7:30 AM
					td.schedule-event.adult Yoga <br /> Zumba Class
				tr
					td.schedule-time 8:30 AM
					td
				tr
					td.schedule-time 9:00 AM
					td(colspan="2")
				tr
					td.schedule-time 10:00 AM
					td.schedule-event(colspan="2") Tour of Pittsburgh <br /> Activity Session <br /> Lunch
				tr
					td.schedule-time 2:00 PM
					td(colspan="2")
				tr
					td.schedule-time 3:00 PM
					td.schedule-event(colspan="2") Activity Session
				tr
					td.schedule-time 5:00 PM
					td(colspan="2")
				tr
					td.schedule-time 7:00 PM
					td.schedule-event.adult(colspan="2") Cocktail Hour
				tr
					td.schedule-time 8:00 PM
					td.schedule-event(colspan="2") Entertainment Program and Dinner
				tr
					td.schedule-time 12:00 AM
					td.schedule-event.youth(colspan="2") Youth Adult Program
				tr
					td.schedule-time 2:00 AM
					td(colspan="2")


		table.schedule-table.mobile
			thead
				tr
					th(colspan="3") Saturday, Jul 5
			tbody
				tr
					td.schedule-time 7:00 AM
					td.schedule-event(rowspan="3") Breakfast
					td
				tr
					td.schedule-time 7:30 AM
					td.schedule-event.adult Yoga <br /> Zumba Class
				tr
					td.schedule-time 8:30 AM
					td
				tr
					td.schedule-time 9:30 AM
					td(colspan="2")
				tr
					td.schedule-time 11:00 AM
					td.schedule-event(colspan="2") Closing Ceremonies
				tr
					td.schedule-time 12:00 PM
					td.schedule-event(colspan="2") Take Away Lunch
				tr
					td.schedule-time 1:30 PM
					td(colspan="2")


		table.schedule-table
			thead
				tr
					th
					th(colspan="2") Thursday, Jul 4
					th(colspan="2") Friday, Jul 5
					th(colspan="2") Saturday, Jul 6
			tbody
				tr
					td.schedule-time 6:30 AM
					td(colspan="2")
					td(colspan="2")
					td(colspan="2")
				tr
					td.schedule-time 7:00 AM
					td(colspan="2")
					td.schedule-event(rowspan="5") Breakfast
					td
					td.schedule-event(rowspan="6") Breakfast
					td
				tr
					td.schedule-time 7:30 AM
					td(colspan="2")
					td.schedule-event.adult(rowspan="2") Yoga <br /> Zumba Class
					td.schedule-event.adult(rowspan="2") Yoga <br /> Zumba Class
				tr
					td.schedule-time 8:00 AM
					td(colspan="2")
				tr
					td.schedule-time 8:30 AM
					td(colspan="2")
					td
					td
				tr
					td.schedule-time 9:00 AM
					td(colspan="2")
					td
					td
				tr
					td.schedule-time 9:30 AM
					td(colspan="2")
					td(colspan="2")
					td
				tr
					td.schedule-time 10:00 AM
					td(colspan="2")
					td.schedule-event(colspan="2",rowspan="8") Tour of Pittsburgh <br /> Activity Session <br /> Lunch
					td(colspan="2")
				tr
					td.schedule-time 10:30 AM
					td(colspan="2")
					td(colspan="2")
				tr
					td.schedule-time 11:00 AM
					td(colspan="2")
					td.schedule-event(colspan="2",rowspan="2") Closing Ceremonies
				tr
					td.schedule-time 11:30 AM
					td(colspan="2")
				tr
					td.schedule-time 12:00 PM
					td(colspan="2")
					td.schedule-event(colspan="2",rowspan="3") Take Away Lunch
				tr
					td.schedule-time 12:30 PM
					td(colspan="2")
				tr
					td.schedule-time 1:00 PM
					td(colspan="2")
				tr
					td.schedule-time 1:30 PM
					td(colspan="2")
					td(colspan="2")
				tr
					td.schedule-time 2:00 PM
					td.schedule-event(colspan="2",rowspan="5") Registration
					td(colspan="2")
					td(colspan="2")
				tr
					td.schedule-time 2:30 PM
					td(colspan="2")
					td(colspan="2")
				tr
					td.schedule-time 3:00 PM
					td.schedule-event(colspan="2",rowspan="4") Activity Session
					td(colspan="2")
				tr
					td.schedule-time 3:30 PM
					td(colspan="2")
				tr
					td.schedule-time 4:00 PM
					td(colspan="2")
				tr
					td.schedule-time 4:30 PM
					td(colspan="2")
					td(colspan="2")
				tr
					td.schedule-time 5:00 PM
					td(colspan="2")
					td(colspan="2")
					td(colspan="2")
				tr
					td.schedule-time 5:30 PM
					td(colspan="2")
					td(colspan="2")
					td(colspan="2")
				tr
					td.schedule-time 6:00 PM
					td.schedule-event(colspan="2",rowspan="2") Opening Ceremonies <br /> Cocktail Hour
					td(colspan="2")
					td(colspan="2")
				tr
					td.schedule-time 6:30 PM
					td(colspan="2")
					td(colspan="2")
				tr
					td.schedule-time 7:00 PM
					td(colspan="2")
					td.schedule-event.adult(colspan="2",rowspan="2") Cocktail Hour
					td(colspan="2")
				tr
					td.schedule-time 7:30 PM
					td.schedule-event(rowspan="8") Entertainment Program and Dinner
					td
					td(colspan="2")
				tr
					td.schedule-time 8:00 PM
					td
					td.schedule-event(colspan="2",rowspan="8") Entertainment Program and Dinner
					td(colspan="2")
				tr
					td.schedule-time 8:30 PM
					td
					td(colspan="2")
				tr
					td.schedule-time 9:00 PM
					td
					td(colspan="2")
				tr
					td.schedule-time 9:30 PM
					td
					td(colspan="2")
				tr
					td.schedule-time 10:00 PM
					td.schedule-event.youth(rowspan="8") Youth Adult Program
					td(colspan="2")
				tr
					td.schedule-time 10:30 PM
					td(colspan="2")
				tr
					td.schedule-time 11:00 PM
					td(colspan="2")
				tr
					td.schedule-time 11:30 PM
					td
					td(colspan="2")
				tr
					td.schedule-time 12:00 AM
					td
					td.schedule-event.youth(colspan="2",rowspan="4") Youth Adult Program
					td(colspan="2")
				tr
					td.schedule-time 12:30 AM
					td
					td(colspan="2")
				tr
					td.schedule-time 1:00 AM
					td
					td(colspan="2")
				tr
					td.schedule-time 1:30 AM
					td
					td(colspan="2")
				tr
					td.schedule-time 2:00 AM
					td(colspan="2")
					td(colspan="2")
					td(colspan="2")


























