extends main-layout

block head
	-var title = "Sponsors - Goan Convention 2014";
	-var bodyClass = "sponsors"

block content
	section.container
		.head SPONSORS
		p.info.center A special thanks goes out to all our sponsors who helped fund the 2014 Goan Convention!
		h1.info List of Sponsors
		table.schedule
			thead
				tr
					th.left Name
					th.right Contribution
			tbody
				tr
					td.left Dr. Rajnikant and Dr. Rajani Usgaonkar
					td.right US $5000
		h1.info How to Become a Sponsor
		p.info The success of the 2014 Goan Convention will be credited largely to our sponsors, who have lent their names and financial support to the event right from the onset in the face of a late start. Without your generosity we would not had the boost and the confidence to get the convention going.
		p.info This convention will publish a souvenir booklet which will include cultural information, pictures, and contacts of fellow Goans. We encourage corporations and private businesses to participate by advertising in this souvenir.
		p.info We are counting on your support, and will be happy to answer any questions you may have. Thank you in advance for your willingness to support the efforts of the Goan Organization of America.
		p.info The following are the rates to advertise in the souvenir:
		table.info
			tbody
				tr
					td.left 1/4 page black and white
					td.right US $250
				tr
					td.left 1/2 page black and white
					td.right US $500
				tr
					td.left Full page black and white
					td.right US $750
				tr
					td.left 1/2 page color
					td.right US $1000
				tr
					td.left Full page color
					td.right US $2000
				tr
					td.left Inside front/back page color
					td.right US $3000
				tr
					td.left Full back page
					td.right US $4000
		p.info Sponsors will be able to specify their own message in their advertisement space. In addition, sponsors who advertise for $500 or more, will also automatically get to sponsor an event and we will recognize their support during the event in the form of an announcement. Their names will appear at the top of this page. An event can have multiple sponsors based on their advertisement amounts, as follows:
		table.info
			tbody
				tr
					td.left Cultural Event Sponsors
					td.right US $500 (Friday) - single program event
				tr
					td.left Beverage/Cocktail Sponsors
					td.right US $750 (Friday or Saturday)
				tr
					td.left Entertainment Event Sponsors
					td.right US $1000 (Saturday)
				tr
					td.left Lunch Sponsors
					td.right US $2000 (Saturday or Sunday)
				tr
					td.left Tour Sponsors
					td.right US $3000 (Saturday)
				tr
					td.left Dinner Sponsors
					td.right US $4000 (Friday or Saturday)
		p.info Please make checks payable to: 
			strong.tabbed Goan Organization of America
		p.info Mail checks to: 
			strong.tabbed 211 Fox Run Dr, Venetia, PA, USA 15367
		p.info Please indicate the content of your advertisement or event sponsorship with the check, or alternatively you can email to: 
			a(href="mailto:goans2014@gmail.com") goans2014@gmail.com
		p.info.center.bold The Goan community sincerely appreciates your support!


