extends main-layout

block head
	-var title = "Sponsors - Goan Convention 2014";
	-var bodyClass = "sponsors"

block content
	section.container
		.head SPONSORS
		//-p.info.center A special thanks goes out to all our sponsors who helped fund the 2014 Goan Convention!
		//-h1.info List of Sponsors
		//-table.schedule
			thead
				tr
					th.left Name
					th.right Contribution
			tbody
				tr
					td.left.tbu To Be Updated
		h1.info Sponsorship for the 2014 Goan Convention
		a.info(href="/files/sponsorship.pdf",target="_blank")
			i.fa.fa-file-text-o
			| View Sponsorship Form
		p.info The success of this 2014 Goan Convention will be credited largely to our sponsors, who have lent their names and financial support to the event right from the onset, in the face of a late start. Without your generosity we would not have the boost and the confidence to get the convention going.
		p.info We will publish a convention souvenir booklet which will include cultural program information, pictures, and contacts of fellow Goans. We encourage individuals, corporations and private businesses to participate by advertising in this souvenir. Ad sponsors will be able to specify their own message in their advertisement space.
		p.info In addition, sponsors who advertise for $500 or more, will automatically get to sponsor an event during the convention (such as cultural program events, lunches, dinners, drinks, etc.) and we will recognize their support during the event in the form of an announcement. An event may have multiple sponsors.
		p.info The following are the rates to advertise in the souvenir:
		table.info
			tbody
				tr
					td.left Donor name included in sponsor list
					td.right &lt; US $250
				tr
					td.left 1/4 page black and white
					td.right US $250 &ndash; $499
				tr
					td.left 1/2 page black and white
					td.right US $500 &ndash; $749
				tr
					td.left Full page black and white
					td.right US $750 &ndash; $999
				tr
					td.left 1/2 page color
					td.right US $1000 &ndash; $1999
				tr
					td.left Full page color
					td.right US $2000 &ndash; $3499
				tr
					td.left Full page color on back of front <br />page or front or back of last page
					td.right US $3400 (and above)
		p.info Please make checks payable to: 
			strong.tabbed Goan Organization of America
		p.info Mail to: 
			strong.tabbed Prashant Ambe, 211 Fox Run Dr, Venetia, PA, USA 15367
		p.info Please indicate the content of your advertisement or event sponsorship with the check, or alternatively you can email to: 
			a(href="mailto:goans2014@gmail.com") goans2014@gmail.com
		p.info.bold Note that no donation is too small. All donor names will be mentioned in the Sponsors/Donors list in the souvenir booklet.
		p.info We are counting on your help, and will be happy to answer any questions you may have. We appreciate and thank you in advance for your willingness to support the efforts of the Goan Organization of America.
		p.info.italic 2014 Goan Convention Organizing Team


