extends main-layout

block head
	-var title = "Sponsors - Goan Convention 2014";
	-var bodyClass = "sponsors"

block content
	section.container
		.head SPONSORS
		.info A special thanks goes out to all our sponsors who helped fund the 2014 Goan Convention!
		table.sponsors-table
			thead
				tr
					th.name Name
					th.contribution Contribution
			tbody
				tr
					td.name No sponsors yet.
					td.contribution