extends main-layout

block head
	-var title = "The Team - Goan Convention 2014";
	-var bodyClass = "team"

block content
	section.container
		h1 THE TEAM
		.contributor
			img.picture(src="#",alt="Shubhada Sawardekar",title="Shubhada Sawardekar")
			.name Shubhada Sawardekar
			a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:sawardekar@aol.com")
			a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+17244587586")
			.role President
		.contributor
			img.picture(src="#",alt="Arun Sawardekar",title="Arun Sawardekar")
			.name Arun Sawardekar
			a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:sawardekar@aol.com")
			a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+17244587586")
			.role Sponsor/Pledge Committee Chair
		.contributor
			img.picture(src="#",alt="Ameeta Ambe",title="Ameeta Ambe")
			.name Ameeta Ambe
			a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:ameeta_ambe@hotmail.com")
			a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+17249691033")
			.role Chair and Program Chair
		.contributor
			img.picture(src="#",alt="Swati Bhobe",title="Swati Bhobe")
			.name Swati Bhobe
			a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:swatibhobhe@gmail.com")
			//-a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:")
			.role Program Chair and Souvenir Book In-Charge
		.contributor
			img.picture(src="#",alt="Prashant Ambe",title="Prashant Ambe")
			.name Prashant Ambe
			a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:prashant.ambe@gmail.com")
			a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+17249691033")
			.role Treasurer and Technical Expert
		.contributor
			img.picture(src="#",alt="Mahesh Sardesai",title="Mahesh Sardesai")
			.name Mahesh Sardesai
			a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:msardesai@hotmail.com")
			a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+19058194708")
			.role Publicity Chair and Technical Expert
		.contributor
			img.picture(src="#",alt="Nita Sardesai",title="Nita Sardesai")
			.name Nita Sardesai
			a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:nitasardesai@hotmail.com")
			a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+19058194708")
			.role Email Coordinator
		.contributor
			img.picture(src="#",alt="Suyog Bhobe",title="Suyog Bhobe")
			.name Suyog Bhobe
			//-a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:")
			//-a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:")
			.role Technical Expert
		.contributor
			img.picture(src="#",alt="Chinmay Bhandare",title="Chinmay Bhandare")
			.name Chinmay Bhandare
			a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:chinmay.bhandare@gmail.com")
			//-a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:")
			.role Souvenir Book In-Charge
		.contributor.last
			img.picture(src="#",alt="Ankit Sardesai",title="Ankit Sardesai")
			.name Ankit Sardesai
			a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:amsardesai@gmail.com")
			a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+19058194708")
			.role Webmaster