extends main-layout

block head
	-var title = "The Team - Goan Convention 2014";
	-var bodyClass = "team"
	-var description = "We would like to thank many people for organizing the 2014 Goan Convention. The lead organizer is Shubhada Sawardekar, who was the organizer of the first Goan Convention in 1992."

block content
	section.container
		h1 THE TEAM
		ul.contributors
			li
				img.picture(src="images/team/shubhadasawardekar.png",alt="Shubhada Sawardekar",title="Shubhada Sawardekar")
				strong.name Shubhada Sawardekar
				.role President
				a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:sawardekar@aol.com",title="Click here to email sawardekar (at) aol (dot) com")
				a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+17244587586",title="Click here to call +1 (724) 458-7586 if your browser supports calling")
			li
				img.picture(src="images/team/arunsawardekar.png",alt="Arun Sawardekar",title="Arun Sawardekar")
				strong.name Arun Sawardekar
				.role Sponsor/Pledge Committee Chair
				a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:sawardekar@aol.com",title="Click here to email sawardekar (at) aol (dot) com")
				a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+17244587586",title="Click here to call +1 (724) 458-7586 if your browser supports calling")
			li
				img.picture(src="images/team/ameetaambe.png",alt="Ameeta Ambe",title="Ameeta Ambe")
				strong.name Ameeta Ambe
				.role Chair and Program Chair
				a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:ameeta_ambe@hotmail.com",title="Click here to email ameeta_ambe (at) hotmail (dot) com")
				a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+17249691033",title="Click here to call +1 (724) 969-1033 if your browser supports calling")
			li
				img.picture(src="images/team/swatibhobe.png",alt="Swati Bhobe",title="Swati Bhobe")
				strong.name Swati Bhobe
				.role Program Chair and Souvenir Book In-Charge
				a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:swatibhobhe@gmail.com",title="Click here to email swatibhobhe (at) gmail (dot) com")
			li
				img.picture(src="images/team/prashantambe.png",alt="Prashant Ambe",title="Prashant Ambe")
				strong.name Prashant Ambe
				.role Treasurer and Technical Expert
				a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:prashant.ambe@gmail.com",title="Click here to email prashant.ambe (at) gmail (dot) com")
				a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+17249691033",title="Click here to call +1 (724) 969-1033 if your browser supports calling")
			li
				img.picture(src="images/team/maheshsardesai.png",alt="Mahesh Sardesai",title="Mahesh Sardesai")
				strong.name Mahesh Sardesai
				.role Publicity Chair and Technical Expert
				a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:msardesai@hotmail.com",title="Click here to email msardesai (at) hotmail (dot) com")
				a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+19058194708",title="Click here to call +1 (905) 819-4708 if your browser supports calling")
			li
				img.picture(src="images/team/nitasardesai.png",alt="Nita Sardesai",title="Nita Sardesai")
				strong.name Nita Sardesai
				.role Email Coordinator
				a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:nitasardesai@hotmail.com",title="Click here to email nitasardesai (at) hotmail (dot) com")
				a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+19058194708",title="Click here to call +1 (905) 819-4708 if your browser supports calling")
			li
				img.picture(src="images/team/suyogbhobe.png",alt="Suyog Bhobe",title="Suyog Bhobe")
				strong.name Suyog Bhobe
				.role Technical Expert
			li
				img.picture(src="images/team/ankitsardesai.png",alt="Ankit Sardesai",title="Ankit Sardesai")
				strong.name Ankit Sardesai
				.role Webmaster
				a.buttonlink.email.fa.fa-envelope.fa-lg(href="mailto:amsardesai@gmail.com",title="Click here to email amsardesai (at) gmail (dot) com")
				a.buttonlink.tel.fa.fa-phone.fa-lg(href="tel:+19058194708",title="Click here to call +1 (905) 819-4708 if your browser supports calling")