/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* ACTUAL CSS */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,300italic,400italic,600italic|Bad+Script");

@main-font: "Open Sans", sans-serif;
@heading-font: "Bad Script", cursive;

@brown: darken(#EDE3D1, 40%);


@schedule-event-youth: #C9E1FF;
@schedule-event-adult: #FDD6FF;
@schedule-event-everyone: #EDE3D1;
@schedule-event-normal: lighten(@schedule-event-everyone, 5%);

@schedule-table-border: #ccc;

.transition(@duration:0.2s, @property:all) {
	-webkit-transition-duration: @duration;
	-webkit-transition-property: @property;
	-moz-transition-duration: @duration;
	-moz-transition-property: @property;
	-o-transition-duration: @duration;
	-o-transition-property: @property;
	transition-duration: @duration;
	transition-property: @property;
}

html {
	height: 100%;
}

::selection {
	background: #666;
} 
::-moz-selection {
	background: #666;
} 

body {
	font-size: 14px;
	font-family: @main-font;
	position: relative;
	height: 100%;
	background-color: #eee;
	min-width: 320px;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	background-color: #fff;
	box-shadow: 0 0 5px #000;
	opacity: 0.95;
	nav {
		max-width: 1200px;
		margin: 0 auto;
		font-size: 120%;
		font-weight: 300;
		text-align: center;
		height: 50px;
		li {
			display: inline-block;
			float: left;
		}
		a {
			display: inline-block;
			line-height: 50px;
			height: 50px;
			padding: 0 15px;
			text-align: center;
			font-size: 90%;
			.transition(0.3s, background-color);
			&:hover, &:focus {
				background-color: #ddd;
			}
			i.fa {
				padding-right: 10px;
			}
			&.register-menu {
				line-height: 35px;
				height: 35px;
				padding: 0 10px;
				margin: 6px 5px 5px 5px;
				border-radius: 5px;
				border: 2px solid @brown;
				background-color: lighten(@brown, 45%);
				&:hover, &:focus {
					background-color: lighten(@brown, 45%);
					border-color: darken(@brown, 20%);
				}
				i.fa {
					padding-right: 5px;
				}
			}
		}
		.logo {
			float: left;
			padding: 0 5px;
			height: 50px;
			overflow: hidden;
			img {
				height: 50px;
			}
		}
		.links {
			float: right;
			height: 50px;
			padding-right: 5px;
		}
	}
}



footer {
	background-color: #333;
	box-shadow: 0 0 5px #000;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	.container {
		max-width: 720px;
		margin: auto;
		height: 50px;
		font-size: 90%;
		font-weight: 300;
	}
	a {
		color: #fff;
		display: inline-block;
		line-height: 50px;
		padding: 0 20px;
		.transition(0.3s, background-color);
		strong {
			font-weight: 600;
		}
		&:hover, &:focus {
			background-color: #555;
		}
	}
}

// Generic stuff

a {
	text-decoration: none;
	color: #000;
}

img { // Fixes old MSIE rendering bugs
  -ms-interpolation-mode: bicubic;
}

.left {
	float: left;
}

.right {
	float: right;
}

h1 {
	font-size: 170%;
	padding: 26px 0;
	font-weight: 300;
	text-align: center;
	&:before, &:after {
		content: "";
		width: 100px;
		height: 5px;
		display: inline-block;
		margin: 5px 15px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
}

section.inner {
	background-attachment: fixed;
	position: relative;
	z-index: 0;
}

section.outer {
	box-shadow: 0 0 5px #000;
	position: relative;
	z-index: 2;
}

hr {
	height: 5px;
	margin: 0 auto 30px auto;
	padding: 0;
	border: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	width: 92.5%;
	max-width: 520px;
	clear: both;
}


@media screen and (max-width: 959px) {
	header nav {
		height: auto;
		max-width: 720px;
		min-width: 0;
		li {
			float: none;
		}
		a {
			line-height: 40px;
			height: 40px;
			padding: 0 10px;
			&.register-menu {
				line-height: 30px;
				height: 30px;
				margin: 2px 3px 3px 3px;
			}
		}
		.logo {
			float: none;
			padding: 0 10px;
		}
		.links {
			float: none;
			height: auto;
			font-size: 90%;
			padding-right: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	header, footer {
		position: relative;
	}
}

@media screen and (max-width: 560px) {
	footer {
		.container {
			height: auto;
			text-align: center;
		}
		.left, .right {
			float: none;
			font-size: 85%;
			display: block;
			line-height: 1;
			padding: 10px 0;
		}
	}
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 140%;
		padding-top: 29px;
		&:before, &:after {
			width: 40px;
			margin: 3px 10px;
		}
	}
}

// Main Page

.index footer {
	position: relative;
}

section.main {
	height: 100%;
	width: 100%;
	min-height: 690px;
	background-color: #000;
	background-position: center 0;
	background-repeat: no-repeat;
	background-image: url("../images/pittsburgh.jpg");
	background-size: cover;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 5px #000;
	display: table;
	i.fa {
		padding-right: 15px;
	}
	.event {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		font-weight: 600;
		position: relative;
		z-index: 1;
	}
	.eventTop {
		font-size: 300%;
		padding: 60px 0 45px 0;
	}
	.eventName {
		font-size: 500%;
		padding: 0 0 40px 0;
		font-weight: 800;
		font-family: @heading-font;
	}
	.eventDetails {
		font-size: 200%;
		div {
			padding: 10px 20px;
			display: inline-block;
			&.date {
				border-right: 3px solid #fff;
			}
		}
	}
	.eventInfo {
		max-width: 560px;
		margin: auto;
		padding: 30px 0 40px 0;
		font-size: 170%;
		line-height: 1.5;
		font-weight: 400;
		.newLine {
			clear: both;
		}
	}
	.register-button {
		display: inline-block;
		padding: 20px 25px;
		color: #000;
		background-color: #fff;
		text-shadow: none;
		box-shadow: 0 0 5px #000;
		font-size: 150%;
		opacity: 0.85;
		border-radius: 10px;
		font-weight: 300;
		.transition(0.3s, opacity);
		&:hover {
			opacity: 1;
		}
		&:focus {
			opacity: 1;
			color: #222;
		}
	}
	.scrolldown {
		clear: both;
		font-size: 130%;
		display: block;
		margin-top: 40px;
		color: #fff;
	}
	.mask {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	@media screen and (max-width: 959px) {
		.eventTop {
			padding-top: 100px;
		}
	}
	@media screen and (max-width: 680px) {
		height: 550px;
		min-height: 0;
		background-attachment: scroll;
		.event {
			margin: 0;
			font-size: 80%;
		}
		.eventTop {
			padding: 0 0 35px 0;
		}
		.eventName {
			padding: 0 0 35px 0;
		}

		.eventDetails {
			margin: 0;
		}

		.eventInfo {
			max-width: 420px;
			padding: 25px 0 35px 0;
		}

		.register-button {
			font-size: 170%;
		}

		.scrolldown {
			display: none;
		}
	}
	@media screen and (max-width: 450px) {
		height: 400px;
		.event {
			font-size: 60%;
		}
		.eventTop {
			padding: 0 0 30px 0;
		}
		.eventName {
			padding: 0 0 20px 0;
		}

		.eventDetails {
			div {
				padding: 5px 15px;
			}
		}

		.eventInfo {
			max-width: 310px;
			padding: 15px 10px 20px 10px;
		}

		.register-button {
			padding: 15px 15px;
			border-radius: 5px;
			font-size: 200%;
			&:before {
				padding-right: 7px;
			}
		}

		.scrolldown {
			display: none;
		}

	}
}


section.where {
	text-align: center;
	background-image: url("../images/notebook.png");
	background-size: 300px 154px;
	h1 {
		padding-bottom: 14px;
	}
	a {
		display: block;
		font-weight: 300;
		font-size: 130%;
		line-height: 26px;
		padding-top: 13px;
		padding-bottom: 25px;
		margin: auto;
		max-width: 480px;
		.hotel {
			max-width: 90%;
			width: 600px;
			margin: auto;
			font-size: 140%;
			font-weight: 400;
			padding-bottom: 25px;
			line-height: 26px;
		}
		&:hover, &:focus {
			color: #555; 
			.hotel {
				color: #888;
			}
		}
	}
	@media screen and (max-width: 500px) {
		a {
			padding-bottom: 25px;
			padding-top: 13px;
			.hotel {
				font-size: 100%;
				padding-bottom: 0;
				padding-top: 0;
			}
		}
	}
}


section.pic {
	height: 85%;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	.container {
		border-color: inherit;
		max-width: 720px;
		margin: auto;
	}
	h1 {
		font-size: 300%;
		margin: 0 auto;
		padding: 0;
		line-height: 100px;
		height: 100px;
		font-weight: 300;
		&:before, &:after {
			margin: 10px 30px;
			border-width: 2px 0 2px 0;
		}
	}
	.bigbox {
		width: 400px;
		border-radius: 10px;
		border: 5px solid;
		border-color: inherit;
		background-color: #fff;
		position: absolute;
		display: inline-block;
		top: 30px;
		img {
			width: 100%;
		}
		&.left {
			left: 30px;
		}
		&.right {
			right: 30px;
		}
		&.bottom {
			top: auto;
			bottom: 30px;
		}
		&.center {
			position: static;
			width: 500px;
			float: none;
			.description {
				font-size: 140%;

			}
		}

		&.attach-top {
			top: 0;
			border-top: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			.description {
				padding-top: 7px;
			}
		}
		&.attach-bottom {
			top: auto;
			bottom: -5px;
			border-bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			.description {
				padding-bottom: 7px;
			}
		}
		.description {
			padding: 15px 30px;
			font-size: 140%;
			line-height: 1.5;
			font-weight: 300;
			margin: auto;
			strong {
				font-weight: 600;
			}
		}
	}
	.caption {
		position: absolute;
		bottom: 10px;
		width: 16px;
		height: 16px;
		line-height: 16px;
		display: inline-block;
		padding: 5px;
		text-align: center;
		background-color: #000;
		color: #fff;
		font-weight: 300;
		font-size: 100%;
		opacity: 0.8;
		border-radius: 16px;
		text-decoration: none;
		opacity: 0.5;
		&.left {
			left: 10px;
		}
		&.right {
			right: 10px;
		}
		&:hover, &:focus {
			background-color: #555;
			opacity: 1;
		}
	}
	&.mobile {
		background-attachment: scroll;
	}
	&.autoheight {
		height: auto;
		min-height: 0;
		padding: 50px 0;
	}
	&.shorter {
		height: 60%;
	}
	&.parallax {
		background-attachment: scroll;
		background-position: center 400px;
		background-size: auto;
		padding: 50px 0;
	}


	&.pittsburgh-title {
		background-image: url("../images/pittsburgh_title.jpg");
	}
	&.pittsburgh-skyline {
		background-image: url("../images/pittsburgh_skyline.jpg");
		background-position: center center;
		border-bottom: 5px solid darken(#EBCBB2, 10%);
		.bigbox.right {
			border-color: darken(#EBCBB2, 10%);
			background-color: lighten(#EBCBB2, 5%);
		}
	}
	
	&.pittsburgh-bridges {
		background-image: url("../images/pittsburgh_bridges.jpg");
		.bigbox.right {
			border-color: darken(#EBCBB2, 10%);
			background-color: lighten(#EBCBB2, 5%);
		}
		border-bottom: 5px solid darken(#E4DCC2, 10%);
		.bigbox.left {
			border-color: darken(#E4DCC2, 10%);
			background-color: lighten(#E4DCC2, 5%);
		}
	}
	
	&.pittsburgh-life {
		background-image: url("../images/pittsburgh_life.jpg");
		background-position: center center;
		.bigbox.left {
			border-color: darken(#E4DCC2, 10%);
			background-color: lighten(#E4DCC2, 5%);
		}
	}
	
	&.goa-title {
		background-image: url("../images/goa_title.jpg");
	}
	
	&.goa-blurred {
		background-image: url("../images/goa_blurred.jpg");
		.bigbox {
			border-color: darken(#E9CEB9, 10%);
			background-color: lighten(#E9CEB9, 5%)
		}
	}

	&.goa {
		background-image: url("../images/goa.jpg");
	}


	@media screen and (max-width: 680px) {
		height: 400px;
		min-height: 0;
		background-attachment: scroll;
	}
	@media screen and (max-width: 450px) {
		height: 300px;
	}

}

section.didyouknow {
	text-align: center;
	background-image: url("../images/notebook.png");
	background-size: 300px 154px;
	line-height: 26px;
	font-weight: 300;
	padding-bottom: 26px;
	i.fa {
		padding-right: 10px;
	}
	h1 {
		padding-bottom: 13px;
	}
	p {
		font-size: 160%;
		font-weight: 400;
		padding: 13px 0 26px 0;
	}
	a.reload {
		font-size: 120%;
		display: block;
		&.link:hover, &.link:focus {
			text-decoration: underline;
			color: #999;
		}
	}

}

section.more {
	text-align: center;
	background-image: url("../images/notebook.png");
	background-size: 300px 154px;
	font-size: 120%;
	padding: 26px 9%;
	line-height: 26px;
	font-weight: 300;
	i.fa {
		padding-right: 10px;
	}

}

section.misc {
	background-image: url("../images/triangular.png");
	background-position: top center;
	background-size: 60px 60px;
	text-align: center;
	padding: 15px 0;
	font-size: 120%;
	.misccontainer {
		display: block;
		max-width: 720px;
		margin: auto;
		height: 120px;
		text-align: center;
	}
	.notice {
		display: inline-block;
		float: left;
		line-height: 30px;
		font-weight: 400;
		text-align: left;
		width: 310px;
		height: 70px;
		margin: 15px;
		padding: 10px;
		border-radius: 10px;
		color: #000;
		background-color: #fff;
		background-image: none;
		overflow: hidden;
		box-shadow: 0 0 5px #000;
		clear: none;
		i.fa {
			padding: 0 10px;
		}
		&.mapofgoans {
			@mapofgoans-color-1: #70D3F8;
			@mapofgoans-color-2: #FB8C29;
			@mapofgoans-color-3: #C35C00;
			background-color: lighten(@mapofgoans-color-2, 35%);
			border: 5px solid lighten(@mapofgoans-color-3, 35%);
			padding: 5px;
			line-height: 70px;
			text-align: center;
			//color: #fff;
			i {
				padding-left: 0;
			}
			&:hover, &:focus {
				background-color: lighten(@mapofgoans-color-2, 0%);
				border-color: lighten(@mapofgoans-color-3, 0%);
				color: #fff;
				box-shadow: 0 0 10px #fff;
			}
		}
		.facebook {
			margin-top: 5px;
			padding-top: 5px;
			border-top: 2px solid #aaa;
			height: 30px;
			overflow: hidden;
		}
	}
	@media screen and (max-width: 740px) {
		.misccontainer {
			height: 240px;
			max-width: 360px;
		}
	}
	@media screen and (max-width: 360px) {
		background-attachment: scroll;
		.misccontainer {
			height: 160px;
		}
		.notice {
			margin-left: 0;
			margin-right: 0;
			margin-top: 0;
			float: none;
			padding: 5px;
			border-radius: 0;
			&.mapofgoans {
				padding: 0;
				line-height: 50px;
				height: 50px;
			}
		}
	}
}

// All other pages

section.container {
	padding: 80px 0 60px 0;
	text-align: center;
	h1 {
		padding-top: 0;
	}
}

@media screen and (max-width: 959px) {
	section.container {
		padding-top: 120px;
	}
}

@media screen and (max-width: 680px) {
	section.container {
		padding: 28px 0 20px 0;
	}
}

// Schedule Page

.schedule {
	@event-border-darken-percentage: 30%;

	max-width: 1080px;
	min-width: 70%;
	margin: auto;
	section.container {
		em {
			display: block;
			font-weight: 300;
			padding: 0 30px;
			font-style: italic;
			line-height: 1.5;
			strong {
				font-weight: 600;
			}
		}
		a:hover, a:focus {
			color: #888;
			text-decoration: underline;
		}
		i.fa {
			padding-right: 10px;
		}
	}
	.print {
		display: block;
		margin: 20px auto 0 auto;
		width: 200px;
	}
	.item {
		border: 2px solid;
		vertical-align: middle;
		font-weight: 400;
		border-radius: 5px;
		line-height: 1.5;
		display: inline-block;
		padding: 5px 10px;
		margin: 20px 5px 0 5px;
		&.youth {
			background-color: @schedule-event-youth;
			border-color: darken(@schedule-event-youth, @event-border-darken-percentage);
		}
		&.adult {
			background-color: @schedule-event-adult;
			border-color: darken(@schedule-event-adult, @event-border-darken-percentage);
		}
		&.major {
			background-color: @schedule-event-everyone;
			border-color: darken(@schedule-event-everyone, @event-border-darken-percentage);
		}
	}
	.schedule-table {
		width: 100%;
		margin: 20px auto 0 auto;
		border-collapse: separate;
		border-spacing: 15px 5px;
		border-left: 1px solid @schedule-table-border;
		border-right: 1px solid @schedule-table-border;
		table-layout: fixed;
		th {
			font-weight: 600;
			padding-bottom: 10px;
			border-bottom: 1px solid @schedule-table-border;
		}
		td {
			padding: 2px 15px;
			font-weight: 300;
			text-align: center;
			border-bottom: 1px solid @schedule-table-border;
		}
		.before-event {
			border-bottom: 0;
		}
		.schedule-time {
			padding: 3px 0 7px 0;
		}
		.schedule-event {
			vertical-align: middle;
			font-weight: 300;
			border-radius: 5px;
			line-height: 1.5;
			background-color: @schedule-event-normal;
			border: 2px solid darken(@schedule-event-normal, @event-border-darken-percentage);
			&.youth {
				background-color: @schedule-event-youth;
				border-color: darken(@schedule-event-youth, @event-border-darken-percentage);
				font-weight: 400;
			}
			&.adult {
				background-color: @schedule-event-adult;
				border-color: darken(@schedule-event-adult, @event-border-darken-percentage);
				font-weight: 400;
			}
			&.major {
				background-color: @schedule-event-everyone;
				border-color: darken(@schedule-event-everyone, @event-border-darken-percentage);
				font-weight: 400;
			}
			.small {
				font-size: 90%;
				font-weight: 300;
			}
		}
		&.mobile {
			display: none;
			.schedule-event {
				padding: 5px 15px;
			}
		}
	}
	@media screen and (max-width: 960px) {
		.schedule-table {
			border: 0;
			td {
				padding: 0 5px;
			}
			.schedule-event {
				font-size: 80%;
			}
		}
	}


	@media screen and (max-width: 680px) {
		.schedule-table {
			display: none;
			&.mobile {
				display: table;
			}
			.schedule-event {
				font-size: 90%;
			}
		}
	}

	@media screen and (max-width: 480px) {
		.schedule-table, .item {
			font-size: 80%;
		}
	}

}



// Sponsor Page

.sponsors {
	section.container {
		max-width: 720px;
		margin: auto;
		a:hover, a:focus {
			color: #888;
			text-decoration: underline;
		}
		i.fa {
			padding-right: 7px;
		}
	}
	.info {
		line-height: 1.5;
		max-width: 720px;
		text-align: justify;
		padding: 0 10px;
		margin-bottom: 15px;
		&.center {
			text-align: center;
		}
	}
	a.info {
		display: block;
		text-align: left;
		font-size: 110%;
	}
	p.info {
		font-size: 110%;
		font-weight: 300;
		strong, a {
			font-weight: 400;
			&.tabbed {
				display: block;
				margin-left: 30px;
			}
		}
		&.bold {
			font-weight: 600;
		}
		&.italic {
			font-style: italic;
		}
	}
	h3.info {
		font-size: 120%;
		font-weight: 600;
		text-align: left;
	}
	table {
		border-collapse: collapse;
		font-weight: 300;
		margin: auto;
		width: 95%;
		th {
			padding: 5px;
			border-bottom: 1px solid @brown;
			font-weight: 400;
		}
		td {
			padding: 5px;
			border-top: 1px solid @brown;
			border-bottom: 1px solid @brown;
			line-height: 1.5;
		}
		br {
			display: none;
		}
		.left {
			text-align: left;
			padding-right: 0;
			float: none;
		}
		.right {
			text-align: right;
			padding-left: 0;
			float: none;
		}
		.tbu {
			font-style: italic;
		}
		&.info {
			text-align: left;
			margin-bottom: 15px;
		}
		&.schedule {
			border-collapse: separate;
			margin-bottom: 20px;
		}
	}

	@media screen and (max-width: 600px) {
		table br {
			display: block;
		}
	}

	@media screen and (max-width: 420px) {
		table {
			width: 100%;
			font-size: 80%;
			td, th {
				padding: 5px 10px;
			}
		}
	}

}

// Convention Page

.pastevents {
	section.container {
		max-width: 720px;
		margin: auto;
	}
	.convention {
		display: block;
		width: 250px;
		margin: 10px auto 30px auto;
		padding: 15px 0;
		border: 2px solid;
		border-color: #aaa;
		color: #555;
		border-radius: 5px;
		font-size: 120%;
		font-weight: 300;
		background-color: #fff;
		&:hover, &:focus {
			border-color: #555;
		}
	}
}

// Venue Page

.venue {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 50px;
	padding-bottom: 50px;
	section.container {
		position: absolute;
		top: 70px;
		left: 20px;
		width: 360px;
		background-color: lighten(@brown, 40%);
		border: 2px solid @brown;
		border-radius: 10px;
		z-index: 2;
		margin: 0;
		padding: 20px 0;
		box-shadow: 0 0 5px #000;
		&.hide {
			display: none;
		}
	}
	.info {
		font-weight: 300;
		margin-bottom: 10px;
		line-height: 1.5;
		&.big {
			font-size: 130%;
			font-weight: 400;
		}
	}
	.button {
		display: inline-block;
		padding: 10px 15px;
		margin: 5px 5px 15px 5px;
		font-size: 100%;
		font-weight: 300;
		border: 2px solid @brown;
		background-color: #fff;
		border-radius: 5px;
		i.fa {
			padding-right: 7px;
		}
		strong {
			font-weight: 600;
		}
		&:hover, &:focus {
			border-color: darken(@brown, 20%);
		}
	}
	table {
		border-collapse: collapse;
		font-weight: 300;
		margin: auto;
		width: 85%;
		td {
			padding: 5px;
			border-top: 1px solid @brown;
			border-bottom: 1px solid @brown;
			line-height: 1.5;
		}
		.left {
			text-align: left;
			padding-right: 0;
			float: none;
			font-weight: 400;
		}
		.right {
			text-align: right;
			padding-left: 0;
			float: none;
		}
		a:hover, a:focus {
			color: lighten(@brown, 5%);
			text-decoration: underline;
		}
	}
	#map {
		height: 100%;
		min-height: 550px;
	}
	@media screen and (max-width: 959px) {
		padding-top: 90px;
		section.container {
			top: 110px;
		}
	}
	@media screen and (max-width: 680px) {
		padding-top: 0;
		padding-bottom: 0;
		section.container {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			border: 0;
			border-bottom: 2px solid @brown;
			border-radius: 0;
			max-height: none;
			&.hide {
				display: block;
			}
		}
		#map {
			min-height: 300px;
			height: 300px;
		}
	}
}


// Team Page

.team {
	section.container {
		max-width: 720px;
		margin: auto;
		em.info {
			font-weight: 300;
			display: block;
			margin-bottom: 30px;
		}
	}
	.contributors li {
		width: 95%;
		min-height: 100px;
		padding-bottom: 20px;
		margin: 20px auto 0 auto;
		position: relative;
		border-bottom: 1px solid #ccc;
		img.picture {
			position: absolute;
			top: 0;
			left: 0;
			width: 100px;
			height: 100px;
		}
		.name {
			text-align: left;
			clear: left;
			line-height: 40px;
			font-size: 150%;
			margin-left: 120px;
			margin-right: 40px;
			display: block;
		}
		.role {
			text-align: left;
			clear: left;
			margin-left: 120px;
			margin-right: 40px;
			font-size: 110%;
			line-height: 1.5;
			font-weight: 300;

		}
		.buttonlink {
			display: inline-block;
			background-color: #fff;
			border: 2px solid #999;
			border-radius: 50%;
			padding: 5px;
			text-align: center;
			width: 30px;
			line-height: 30px;
			height: 30px;
			position: absolute;
			right: 0;
			&.email {
				top: 0;
			}
			&.tel {
				padding-top: 6px;
				padding-bottom: 4px;
				bottom: 21px;
			}
			&:hover, &:focus {
				border-color: #444;
			}
		}
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			border: 0;
		}
	}
	@media screen and (max-width: 500px) {
		.contributors li {
			min-height: 70px;
			img.picture {
				width: 70px;
				height: 70px;
			}
			.name {
				margin-left: 85px;
				font-size: 120%;
				line-height: 30px;
			}
			.role {
				margin-left: 85px;
				font-size: 90%;
			}
			.buttonlink {
				line-height: 20px;
				height: 20px;
				width: 20px;
				font-size: 100%;
				clear: right;
				padding: 3px;
				&.tel {
					padding-top: 4px;
					padding-bottom: 2px;
				}
			}
		}
	}

}

// Register Page

.register {
	background-image: url("../images/squared_metal.png");
	background-size: 132px 132px;
	table {
		border-collapse: collapse;
		width: 100%;
		margin: 15px auto 0 auto;
		color: #000;
		text-align: center;
		td {
			padding: 5px;
			border-top: 1px solid @brown;
			border-bottom: 1px solid @brown;
			line-height: 1.5;
		}
		.left {
			text-align: left;
			font-weight: 400;
			float: none;
			span.notbold {
				font-weight: 300;
			}
		}
		.right {
			text-align: right;
			float: none;
		}
	}
	section.container {
		max-width: 660px;
		margin: auto;
	}
	.register-now {
		max-width: 285px;
		display: inline-block;
		width: 80%;
		text-align: center;
		font-weight: 600;
		font-size: 120%;
		line-height: 1.5;
		background-color: #F9F9F9;
		border: 2px solid @brown;
		border-radius: 10px;
		padding: 10px 15px;
		margin-bottom: 30px;
		color: #444;
		i.fa {
			padding-right: 10px;
		}
		&:hover, &:focus {
			border-color: darken(@brown, 20%);
		}

	}
	.instructions {
		font-weight: 300;
		font-size: 110%;
		line-height: 1.5;
		text-align: center;
		background: transparent;
		border: 0;
		padding: 0;
		margin: 0 auto 20px auto;
		clear: both;
		width: 600px;
		max-width: 80%;
		strong {
			font-weight: 400;
		}
	}
	.registrants-head {
		i.fa {
			padding-right: 10px;
		}
		font-size: 130%;
		background-color: transparent;
		width: 95%;
		margin: 0 auto 20px auto;
		text-align: center;
	}
	.registrants {
		width: 90%;
		max-width: 500px;
		margin: 0 auto 10px auto;
		text-align: left;
		.family {
			clear: both;
			height: 30px;
			line-height: 30px;
			position: relative;
			.lastname {
				display: inline-block;
				float: left;
				font-size: 120%;
				font-weight: 400;
				margin-right: 5px;
			}
			.guests {
				display: inline-block;
				float: left;
				font-weight: 300;
			}
			.city {
				display: inline-block;
				float: right;
			}
		}
		.loading {
			text-align: center;
			font-weight: 300;
		}
	}
	.clear {
		clear: both;
	}
	@media screen and (max-width: 680px) {
		.big-block {
			width: 400px;
			margin: 0 auto 20px auto;
			max-width: 80%;
			&.left, &.right {
				float: none;
			}
		}
	}
	@media screen and (max-width: 500px) {
		.big-block {
			font-size: 90%;
		}
		.instructions {
			font-size: 90%;
		}
		.register-now {
			font-size: 110%;
		}
		.registrants {
			font-size: 90%;
			.family {
				height: 45px;
				line-height: 20px;
				padding-bottom: 5px;
				.lastname {
					height: 25px;
					line-height: 25px;
					font-size: 140%;
				}
				.guests {
					clear: left;
				}
				.city {
					height: 25px;
					line-height: 25px;
				}
			}
		}
	}
}

// 404 Page

.error404 {
	.note {
		font-size: 130%;
		font-weight: 300;
		line-height: 1.5;
		margin: 0 40px 10px 40px;
	}
	@media screen and (max-width: 500px) {
		.note {
			font-size: 120%;
		}
	}
}

// Retina Display

@media only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {

	section.where {
		background-image: url("../images/notebook_@2X.png");
	}

	section.mapofgoans {
		background-image: url("../images/triangular_@2X.png");
	}

	section.links {
		background-image: url("../images/notebook_@2X.png");
	}

	.register {
		background-image: url("../images/squared_metal_@2X.png");
	}

}

// Print devices

@media print {
	body {
		background-color: #fff;
	}

	header {
		position: static;
		box-shadow: none;
		nav {
			.links {
				display: none;
			}
			.logo {
				width: 100%;
				text-align: center;
				float: none;
				padding: 2px 0 0 0;
			}
		}
	}

	.index header,
	section.main .scrolldown,
	section.where,
	section.blurred,
	section.pic,
	section.more,
	section.misc,
	footer {
		display: none;
	}

	h1 {
		padding-top: 10px;
		padding-bottom: 20px;
		font-size: 120%;
		&:before, &:after {
			margin: 7px 15px 3px 15px;
		}
	}

	section.container {
		padding: 10px 0 0 0;
	}

	.schedule {
		em {
			font-size: 65%;
		}
		.print {
			display: none;
		}
		.item {
			font-size: 65%;
			margin-top: 10px;
		}
		.schedule-table {
			font-size: 65%;
			margin-top: 10px;
			border: 0;
			border-spacing: 5px 2px;
			th {
				padding-bottom: 5px;
			}
			.schedule-time {
				padding: 3px 0;
			}
		}
	}

	.venue {
		padding: 0;
	}

	.sponsors {
		font-size: 60%;
		.info {
			margin-bottom: 10px;
		}
	}

	.register {
		background-image: none;
		.registrants .family {
			opacity: 1 !important;
			height: 25px;
			line-height: 25px;
		}
	}

}
