/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* ACTUAL CSS */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,300italic,400italic,600italic|Bad+Script");

@main-font: "Open Sans", sans-serif;
@heading-font: "Bad Script", cursive;

.transition(@duration:0.2s, @property:all) {
	-webkit-transition-duration: @duration;
	-webkit-transition-property: @property;
	-moz-transition-duration: @duration;
	-moz-transition-property: @property;
	-o-transition-duration: @duration;
	-o-transition-property: @property;
	transition-duration: @duration;
	transition-property: @property;
}

html {
	height: 100%;
}

::selection {
	background: #666;
} 
::-moz-selection {
	background: #666;
} 

body {
	font-size: 14px;
	font-family: @main-font;
	position: relative;
	height: 100%;
	background-color: #eee;
	min-width: 320px;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	background-color: #fff;
	box-shadow: 0 0 5px #000;
	opacity: 0.95;
	nav {
		max-width: 880px;
		margin: 0 auto;
		font-size: 120%;
		font-weight: 300;
		text-align: center;
		height: 50px;
		li {
			display: inline-block;
			float: left;
		}
		a {
			display: inline-block;
			line-height: 50px;
			height: 50px;
			padding: 0 15px;
			text-align: center;
			font-size: 90%;
			.transition(0.3s, background-color);
			&:hover, &:focus {
				background-color: #ddd;
			}
			i.fa {
				padding-right: 10px;
			}
			&.register-menu {
				line-height: 35px;
				height: 35px;
				padding: 0 10px;
				margin: 6px 5px 5px 5px;
				border-radius: 5px;
				border: 2px solid #999;
				background-color: #eee;
				&:hover, &:focus {
					background-color: #ddd;
				}
				i.fa {
					padding-right: 7px;
				}
			}
		}
		.logo {
			float: left;
			width: 205px;
			padding: 2px 12px 0 12px;
			height: 48px;
			overflow: hidden;
			img {
				width: 205px;
			}
		}
		.links {
			float: right;
		}
	}
}



footer {
	background-color: #333;
	box-shadow: 0 0 5px #000;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	.container {
		max-width: 720px;
		margin: auto;
		height: 50px;
		font-size: 90%;
		font-weight: 300;
	}
	a {
		color: #fff;
		display: inline-block;
		line-height: 50px;
		padding: 0 20px;
		strong {
			font-weight: 600;
		}
	}
	.left {
		.transition(0.3s, background-color);
		&:hover, &:focus {
			background-color: #555;
		}
	}
}

// Generic stuff

a {
	text-decoration: none;
	color: #000;
}

img { // Fixes old MSIE rendering bugs
  -ms-interpolation-mode: bicubic;
}

.left {
	float: left;
}

.right {
	float: right;
}

h1 {
	font-size: 170%;
	padding: 26px 0;
	font-weight: 300;
	text-align: center;
	&:before, &:after {
		content: "";
		width: 100px;
		height: 5px;
		display: inline-block;
		margin: 5px 15px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
}

section.inner {
	background-attachment: fixed;
	position: relative;
	z-index: 0;
}

section.outer {
	box-shadow: 0 0 5px #000;
	position: relative;
	z-index: 2;
}

hr {
	height: 5px;
	margin: 5px auto;
	padding: 0;
	border: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	width: 70%;
}


@media screen and (max-width: 770px) {
	header nav {
		.logo {
			width: 205px;
		}
		a {
			font-size: 85%;
			padding: 0 7px;
		}
	}
}

@media screen and (max-width: 680px) {
	header {
		position: relative;
		nav {
			height: auto;
			a {
				line-height: 35px;
				height: 35px;
				&.register-menu {
					line-height: 25px;
					height: 25px;
					padding: 0 9px;
					margin: 0 3px 3px 3px;
				}
			}
			li {
				float: none;
			}
			.links {
				float: none;
				font-size: 90%;
			}
			.logo {
				float: none;
				margin: 0 auto;
				padding: 0;
			}
		}
	}
	footer {
		position: relative;
	}
}

@media screen and (max-width: 560px) {
	header nav {
		a {
			padding: 0 5px;
			&:before {
				padding-right: 7px;
			}
		}
		.links {
			font-size: 90%;
		}		
	}
	footer {
		.container {
			height: auto;
			text-align: center;
		}
		.left, .right {
			float: none;
			font-size: 85%;
			display: block;
			line-height: 1;
			padding: 10px 0;
		}
	}
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 140%;
		padding-top: 29px;
		&:before, &:after {
			width: 40px;
			margin: 3px 10px;
		}
	}
}

@media screen and (max-width: 450px) {
	header nav {
		a {
			padding: 0 10px;
			&:before {
				padding-right: 7px;
			}
			&.register-menu {
				display: block;
				margin: 2px auto;
				width: 130px;
			}
		}
		.links {
			padding-bottom: 2px;
		}
	}
}

// Main Page

.index footer {
	position: relative;
}

section.main {
	height: 100%;
	width: 100%;
	min-height: 650px;
	background-color: #000;
	background-position: center 0;
	background-repeat: no-repeat;
	background-image: url("../images/pittsburgh.jpg");
	text-align: center;
	color: #fff;
	text-shadow: 0 0 5px #000;
	display: table;
	i.fa {
		padding-right: 15px;
	}
	.event {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		font-weight: 600;
		position: relative;
		z-index: 1;
	}
	.eventTop {
		font-size: 300%;
		padding: 60px 0 45px 0;
	}
	.eventName {
		font-size: 500%;
		padding: 0 0 40px 0;
		font-weight: 800;
		font-family: @heading-font;
	}
	.eventDetails {
		font-size: 200%;
		div {
			padding: 10px 20px;
			display: inline-block;
			&.date {
				border-right: 3px solid #fff;
			}
		}
	}
	.eventInfo {
		max-width: 560px;
		margin: auto;
		padding: 30px 0 40px 0;
		font-size: 170%;
		line-height: 1.5;
		font-weight: 400;
		.newLine {
			clear: both;
		}
	}
	.register-button {
		display: inline-block;
		padding: 20px 25px;
		color: #000;
		background-color: #fff;
		text-shadow: none;
		box-shadow: 0 0 5px #000;
		font-size: 150%;
		opacity: 0.85;
		border-radius: 10px;
		font-weight: 300;
		.transition(0.3s, opacity);
		&:hover {
			opacity: 1;
		}
		&:focus {
			opacity: 1;
			color: #222;
		}
	}
	.scrolldown {
		clear: both;
		font-size: 130%;
		display: block;
		margin-top: 40px;
		color: #fff;
	}
	.mask {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	@media screen and (max-width: 680px) {
		height: 550px;
		min-height: 0;
		background-size: 1150px 600px;
		background-attachment: scroll;
		.event {
			margin: 0;
			font-size: 80%;
		}
		.eventTop {
			padding: 0 0 35px 0;
		}
		.eventName {
			padding: 0 0 35px 0;
		}

		.eventDetails {
			margin: 0;
		}

		.eventInfo {
			max-width: 420px;
			padding: 25px 0 35px 0;
		}

		.register-button {
			font-size: 170%;
		}

		.scrolldown {
			display: none;
		}
	}
	@media screen and (max-width: 450px) {
		height: 400px;
		.event {
			font-size: 60%;
		}
		.eventTop {
			padding: 0 0 30px 0;
		}
		.eventName {
			padding: 0 0 20px 0;
		}

		.eventDetails {
			div {
				padding: 5px 15px;
			}
		}

		.eventInfo {
			max-width: 310px;
			padding: 15px 10px 20px 10px;
		}

		.register-button {
			padding: 15px 15px;
			border-radius: 5px;
			font-size: 200%;
			&:before {
				padding-right: 7px;
			}
		}

		.scrolldown {
			display: none;
		}

	}
}


section.where {
	text-align: center;
	background-image: url("../images/notebook.png");
	background-size: 300px 154px;
	h1 {
		padding-bottom: 14px;
	}
	a {
		display: block;
		font-weight: 300;
		font-size: 130%;
		line-height: 26px;
		padding-top: 13px;
		padding-bottom: 25px;
		margin: auto;
		max-width: 480px;
		.hotel {
			max-width: 90%;
			width: 600px;
			margin: auto;
			font-size: 140%;
			font-weight: 400;
			padding-bottom: 25px;
			line-height: 26px;
		}
		&:hover, &:focus {
			color: #555; 
			.hotel {
				color: #888;
			}
		}
	}
	@media screen and (max-width: 500px) {
		a {
			padding-bottom: 25px;
			padding-top: 13px;
			.hotel {
				font-size: 100%;
				padding-bottom: 0;
				padding-top: 0;
			}
		}
	}
}

section.blurred {
	background-repeat: no-repeat;
	background-position: center bottom;
	box-shadow: 0 0 5px #000;
	border-bottom: 4px solid;
	padding: 50px 0;
	z-index: 1;
	color: #000;
	h1 {
		padding-bottom: 0;
	}
	.bigbox {
		width: 600px;
		margin: auto;
		border-radius: 10px;
		border: 5px solid;
	}
	.description {
		padding: 15px 30px;
		font-size: 150%;
		line-height: 1.5;
		font-weight: 300;
		width: 540px;
		margin: auto;
		strong {
			font-weight: 600;
		}
	}
	.worldmap {
		width: 600px;
		margin: auto;
		display: block;
	}
	&.mobile {
		background-image: none;
		padding: 0;
		.bigbox {
			border: none;
		}
	}
	@media screen and (max-width: 700px) {
		padding: 30px 0;
	}
	@media screen and (max-width: 680px) {
		padding: 0;
		.bigbox {
			border: none;
		}
	}
	@media screen and (max-width: 600px) {
		.bigbox {
			width: auto;
		}
		.description {
			width: 390px;
			font-size: 120%;
			padding: 10px 20px;
		}
		.worldmap {
			width: 450px;
		}
	}
	@media screen and (max-width: 450px) {
		.description {
			width: 340px;
			padding: 10px;
		}
		.worldmap {
			width: 300px;
		}
	}
	@media screen and (max-width: 360px) {
		.description {
			width: 290px;
		}
	}

	.setPicture(@color, @img, @bgcolor) {
		background-color: @bgcolor;
		background-image: url(@img);
		border-color: darken(@color, 20%);
		@media screen and (max-width: 680px) {
			background-image: none;
			background-color: @color;
		}
		&.mobile {
			background-image: none;
			background-color: @color;
		}
		.bigbox {
			background-color: @color;
			border-color: darken(@color, 20%);
		}
	}

	&.goa {
		.setPicture(#E9CEB9, "../images/goa_blurred.jpg", #FFF);
	}
}

section.pic {
	height: 90%;
	min-height: 400px;
	background-position: bottom center;
	background-repeat: no-repeat;
	.caption {
		position: absolute;
		bottom: 20px;
		left: 50%;
		width: 130px;
		margin-left: -300px;
		display: inline-block;
		padding: 5px;
		text-align: center;
		background-color: #000;
		color: #fff;
		font-weight: 300;
		font-size: 90%;
		opacity: 0.8;
		border-radius: 5px;
	}
	&.mobile {
		background-attachment: scroll;
	}
	@media screen and (max-width: 680px) {
		height: 400px;
		min-height: 0;
		background-attachment: scroll;
		.caption {
			margin-left: -250px;
		}
	}
	@media screen and (max-width: 550px) {
		.caption {
			margin-left: -200px;
		}
	}
	@media screen and (max-width: 450px) {
		height: 300px;
		.caption {
			margin-left: -150px;
			bottom: 10px;
		}
	}

	.setPicture(@img, @bgcolor, @width, @height) {
		max-height: @height;
		background-color: @bgcolor;
		background-image: url(@img);
		@media screen and (max-width: 680px) {
			background-size: (@width / 2) (@height / 2);
		}
		@media screen and (max-width: 450px) {
			background-size: (@width / 3) (@height / 3);
		}
	}

	&.goa {
		.setPicture("../images/goa.jpg", #fff, 2028px, 1352px);
	}
}

section.more {
	text-align: center;
	background-image: url("../images/notebook.png");
	background-size: 300px 154px;
	font-size: 120%;
	padding: 26px 9%;
	line-height: 26px;
	font-weight: 300;
	i.fa {
		padding-right: 10px;
	}

}

section.misc {
	background-image: url("../images/triangular.png");
	background-position: top center;
	background-size: 60px 60px;
	text-align: center;
	padding: 15px 0;
	font-size: 120%;
	.misccontainer {
		display: block;
		max-width: 720px;
		margin: auto;
		height: 120px;
		text-align: center;
	}
	.notice {
		display: inline-block;
		float: left;
		line-height: 30px;
		font-weight: 400;
		text-align: left;
		width: 310px;
		height: 70px;
		margin: 15px;
		padding: 10px;
		border-radius: 10px;
		color: #000;
		background-color: #fff;
		background-image: none;
		overflow: hidden;
		box-shadow: 0 0 5px #000;
		clear: none;
		i.fa {
			padding: 0 10px;
		}
		&.mapofgoans {
			@mapofgoans-color-1: #70D3F8;
			@mapofgoans-color-2: #FB8C29;
			@mapofgoans-color-3: #C35C00;
			background-color: lighten(@mapofgoans-color-2, 35%);
			border: 5px solid lighten(@mapofgoans-color-3, 35%);
			padding: 5px;
			line-height: 70px;
			text-align: center;
			//color: #fff;
			i {
				padding-left: 0;
			}
			&:hover, &:focus {
				background-color: lighten(@mapofgoans-color-2, 0%);
				border-color: lighten(@mapofgoans-color-3, 0%);
				color: #fff;
				box-shadow: 0 0 10px #fff;
			}
		}
		.facebook {
			margin-top: 5px;
			padding-top: 5px;
			border-top: 2px solid #aaa;
			height: 30px;
			overflow: hidden;
		}
	}
	@media screen and (max-width: 740px) {
		.misccontainer {
			height: 240px;
			max-width: 360px;
		}
	}
	@media screen and (max-width: 360px) {
		background-attachment: scroll;
		.misccontainer {
			height: 160px;
		}
		.notice {
			margin-left: 0;
			margin-right: 0;
			margin-top: 0;
			float: none;
			padding: 5px;
			border-radius: 0;
			&.mapofgoans {
				padding: 0;
				line-height: 50px;
				height: 50px;
			}
		}
	}
}

// All other pages

section.container {
	padding: 80px 0 60px 0;
	text-align: center;
	h1 {
		padding-top: 0;
	}
}

@media screen and (max-width: 680px) {
	section.container {
		padding: 20px 0;
	}
}

// Schedule Page

.schedule {
	@event-border-darken-percentage: 20%;

	max-width: 1080px;
	min-width: 70%;
	margin: auto;
	section.container {
		em {
			display: block;
			font-weight: 300;
			padding: 0 30px;
			font-style: italic;
			line-height: 1.5;
			strong {
				font-weight: 600;
			}
		}
		a:hover, a:focus {
			color: #888;
			text-decoration: underline;
		}
		i.fa {
			padding-right: 10px;
		}
	}
	.print {
		display: block;
		margin: 20px auto 0 auto;
		width: 200px;
	}
	.item {
		border: 2px solid #999;
		vertical-align: middle;
		font-weight: 400;
		border-radius: 5px;
		line-height: 1.5;
		display: inline-block;
		padding: 5px 10px;
		margin: 20px 5px 0 5px;
		&.youth {
			background-color: #C9E1FF;
			border-color: darken(#C9E1FF, @event-border-darken-percentage);
		}
		&.adult {
			background-color: #FDD6FF;
			border-color: darken(#FDD6FF, @event-border-darken-percentage);
		}
		&.major {
			background-color: #DEDEDE;
			border-color: darken(#DEDEDE, @event-border-darken-percentage);
		}
	}
	.schedule-table {
		width: 100%;
		margin: 20px auto 0 auto;
		border-collapse: separate;
		border-spacing: 15px 5px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		table-layout: fixed;
		th {
			font-weight: 600;
			padding-bottom: 10px;
			border-bottom: 2px solid #ccc;
		}
		td {
			padding: 2px 15px;
			font-weight: 300;
			text-align: center;
			border-bottom: 1px solid #ccc;
		}
		.before-event {
			border-bottom: 0;
		}
		.schedule-time {
			padding: 3px 0 7px 0;
		}
		.schedule-event {
			vertical-align: middle;
			font-weight: 300;
			border-radius: 5px;
			line-height: 1.5;
			background-color: #E9E9E9;
			border: 2px solid darken(#E9E9E9, @event-border-darken-percentage);
			&.youth {
				background-color: #C9E1FF;
				border-color: darken(#C9E1FF, @event-border-darken-percentage);
				font-weight: 400;
			}
			&.adult {
				background-color: #FDD6FF;
				border-color: darken(#FDD6FF, @event-border-darken-percentage);
				font-weight: 400;
			}
			&.major {
				background-color: #DEDEDE;
				border-color: darken(#DEDEDE, @event-border-darken-percentage);
				font-weight: 400;
			}
			.small {
				font-size: 90%;
				font-weight: 300;
			}
		}
		&.mobile {
			display: none;
			.schedule-event {
				padding: 5px 15px;
			}
		}
	}
	@media screen and (max-width: 960px) {
		.schedule-table {
			border: 0;
			td {
				padding: 0 5px;
			}
			.schedule-event {
				font-size: 80%;
			}
		}
	}


	@media screen and (max-width: 720px) {
		.schedule-table {
			display: none;
			&.mobile {
				display: table;
			}
			.schedule-event {
				font-size: 90%;
			}
		}
	}

	@media screen and (max-width: 480px) {
		.schedule-table, .item {
			font-size: 80%;
		}
	}

}



// Sponsor Page

.sponsors {
	section.container {
		max-width: 720px;
		margin: auto;
		a:hover, a:focus {
			color: #888;
			text-decoration: underline;
		}
		i.fa {
			padding-right: 7px;
		}
	}
	.info {
		line-height: 1.5;
		max-width: 720px;
		text-align: justify;
		padding: 0 10px;
		margin-bottom: 15px;
		&.center {
			text-align: center;
		}
	}
	a.info {
		display: block;
		text-align: left;
		font-size: 110%;
	}
	p.info {
		font-size: 110%;
		font-weight: 300;
		strong, a {
			font-weight: 400;
			&.tabbed {
				display: block;
				margin-left: 30px;
			}
		}
		&.bold {
			font-weight: 600;
		}
		&.italic {
			font-style: italic;
		}
	}
	h3.info {
		font-size: 120%;
		font-weight: 600;
		text-align: left;
	}
	table {
		border-collapse: collapse;
		font-weight: 300;
		margin: auto;
		width: 95%;
		th {
			padding: 5px;
			border-bottom: 1px solid #999;
			font-weight: 400;
		}
		td {
			padding: 5px;
			border-top: 1px solid #999;
			border-bottom: 1px solid #999;
			line-height: 1.5;
		}
		br {
			display: none;
		}
		.left {
			text-align: left;
			padding-right: 0;
			float: none;
		}
		.right {
			text-align: right;
			padding-left: 0;
			float: none;
		}
		.tbu {
			font-style: italic;
		}
		&.info {
			text-align: left;
			margin-bottom: 15px;
		}
		&.schedule {
			border-collapse: separate;
			margin-bottom: 20px;
		}
	}

	@media screen and (max-width: 600px) {
		table br {
			display: block;
		}
	}

	@media screen and (max-width: 420px) {
		table {
			width: 100%;
			font-size: 80%;
			td, th {
				padding: 5px 10px;
			}
		}
	}

}

// Convention Page

.pastevents {
	section.container {
		max-width: 720px;
		margin: auto;
	}
	.convention {
		display: block;
		width: 250px;
		margin: 10px auto 30px auto;
		padding: 15px 0;
		border: 2px solid;
		border-color: #aaa;
		color: #555;
		border-radius: 5px;
		font-size: 120%;
		font-weight: 300;
		background-color: #fff;
		&:hover, &:focus {
			border-color: #555;
		}
	}
}

// Register Page

.register {
	background-image: url("../images/squared_metal.png");
	background-size: 132px 132px;
	table {
		border-collapse: collapse;
		width: 100%;
		margin: 15px auto 0 auto;
		color: #000;
		text-align: center;
		th {
			padding: 5px;
			border-bottom: 2px solid #999;
			line-height: 1.5;
			font-weight: 600;
		}
		td {
			padding: 5px;
			border-top: 1px solid #999;
			border-bottom: 1px solid #999;
			line-height: 1.5;
		}
		.left {
			text-align: left;
			font-weight: 400;
			float: none;
			span.notbold {
				font-weight: 300;
			}
		}
		.right {
			text-align: right;
			float: none;
		}
	}
	section.container {
		max-width: 660px;
		margin: auto;
	}
	.big-block {
		max-width: 285px;
		display: inline-block;
		width: 80%;
		margin: 0 0 18px 0;
		padding: 15px 15px 12px 15px;
		background-color: #eee;
		border: 2px solid #999;
		border-radius: 10px;
		font-weight: 300;
		text-align: left;
		color: #444;
		a {
			color: inherit;
			&:hover, &:focus {
				color: #888;
				text-decoration: underline;
			}
		}
		i.fa {
			padding: 0 8px 0 2px;
		}
		h3 {
			font-size: 110%;
			font-weight: 600;
		}
		.note {
			font-size: 90%;
			margin-top: 10px;
			text-align: center;
			line-height: 1.5;
		}
		.bignote {
			line-height: 1.5;
			margin: 10px 5px 0 5px;
			font-size: 100%;
			&.fat {
				font-weight: 400;
			}
		}
	}
	.register-now {
		text-align: center;
		font-weight: 600;
		font-size: 120%;
		line-height: 1.5;
		background-color: #F9F9F9;
		border-color: #777;
		padding: 10px 15px;
		&:hover, &:focus {
			border-color: #000;
		}

	}
	.instructions {
		font-weight: 300;
		font-size: 110%;
		line-height: 1.5;
		text-align: center;
		background: transparent;
		border: 0;
		padding: 0;
		margin: 0 auto 20px auto;
		clear: both;
		width: 600px;
		max-width: 80%;
	}
	.registrants-head {
		i.fa {
			padding-right: 10px;
		}
		font-size: 130%;
		background-color: transparent;
		width: 95%;
		margin: 20px auto;
		text-align: center;
	}
	.whoscoming {
		float: left;
		width: 100%;
	}
	.registrants {
		width: 90%;
		max-width: 500px;
		margin: 10px auto 20px auto;
		text-align: left;
		.family {
			clear: both;
			height: 30px;
			line-height: 30px;
			position: relative;
			.lastname {
				display: inline-block;
				float: left;
				font-size: 120%;
				font-weight: 400;
				margin-right: 5px;
			}
			.guests {
				display: inline-block;
				float: left;
				font-weight: 300;
			}
			.city {
				display: inline-block;
				float: right;
			}
		}
	}
	.clear {
		clear: both;
	}
	@media screen and (max-width: 680px) {
		.big-block {
			width: 400px;
			margin: 0 auto 20px auto;
			max-width: 80%;
			&.left, &.right {
				float: none;
			}
		}
	}
	@media screen and (max-width: 500px) {
		.big-block {
			font-size: 90%;
		}
		.register-now {
			font-size: 120%;
		}
		.registrants {
			font-size: 90%;
			margin-bottom: 0;
			.family {
				height: 45px;
				line-height: 20px;
				padding-bottom: 5px;
				.lastname {
					height: 25px;
					line-height: 25px;
					font-size: 140%;
				}
				.guests {
					clear: left;
				}
				.city {
					height: 25px;
					line-height: 25px;
				}
			}
		}
	}
}

// 404 Page

.error404 {
	.note {
		font-size: 130%;
		font-weight: 300;
		line-height: 1.5;
		margin: 0 40px 10px 40px;
	}
	@media screen and (max-width: 500px) {
		.note {
			font-size: 120%;
		}
	}
}

// Retina Display

@media only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {

	section.where {
		background-image: url("../images/notebook_@2X.png");
	}

	section.mapofgoans {
		background-image: url("../images/triangular_@2X.png");
	}

	section.links {
		background-image: url("../images/notebook_@2X.png");
	}

	.register {
		background-image: url("../images/squared_metal_@2X.png");
	}

}

// Print devices

@media print {
	body {
		background-color: #fff;
	}

	header,
	section.main .scrolldown,
	section.where,
	section.blurred,
	section.pic,
	section.more,
	section.misc,
	footer {
		display: none;
	}

	h1 {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	section.container {
		padding: 10px 0 0 0;
	}

	.schedule {
		em {
			font-size: 70%;
		}
		.print {
			display: none;
		}
		.item {
			font-size: 70%;
			margin-top: 10px;
			border-color: #f9f9f9;
			box-shadow: none;
		}
		.schedule-table {
			font-size: 70%;
			margin-top: 10px;
			border: 0;
			border-spacing: 0 1px;
			td, th {
				border-color: #ddd;
			}
			.schedule-time {
				padding: 3px 0;
			}
			.schedule-event {
				border-color: #f9f9f9;
				box-shadow: none;
			}
		}
	}

	.sponsors {
		background-image: none;
		font-size: 60%;
		.info {
			margin-bottom: 10px;
		}
	}

}
